body {
    font-family: 'Courier New', monospace;
    margin: 0;
    padding: 20px;
    background-color: #0c0f12;
    color: #fff;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #00ffae;
    text-shadow: 2px 2px 8px #00ffae;
}

#pagination {
    margin-top: 20px;
}

.character-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
}

.character-card {
    background-color: #1a1f25; 
    border: 2px solid #1a1f25; 
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    padding: 15px;
    transition: transform 0.3s, border 0.3s;
    box-shadow: 0 4px 8px rgba(0, 255, 174, 0.5);
}

.character-card:hover {
    transform: scale(1.05);
    border-color: #00ffae; 
}

.character-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    border: 2px solid #ffcc00;
}

.character-card h3 {
    margin-top: 10px;
    font-size: 1.2em;
    color: #00ffae;
}

.character-card p {
    font-size: 1em;
    color: #fff;
}

@media (max-width: 768px) {
    .character-grid {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em; 
    }
}

.pagination {
    display: flex;
    justify-content: center; 
    margin-top: 30px;
}

.pagination button {
    font-size: 18px;
    padding: 12px 25px;
    background-color: #ffcc00;
    color: #0c0f12;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 10px; 
}

.pagination button:hover {
    background-color: #ffd633;
}

.character-card a {
    color: #ffcc00; 
    text-decoration: none; 
    font-weight: bold; 
    transition: color 0.3s, text-decoration 0.3s; 
}

.character-card a:hover {
    color: #00ffae; 
    text-decoration: underline; 
}