body {
    background-color: gray;
    font-family: Arial, sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 15px;
}

.logo {
    font-size: 25px;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 20px;
}

.login-btn {
    padding: 10px 20px;
    background-color: rgba(35, 35, 255, 0.777);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}